body {
    font-family: "Open Sans", sans-serif; 
    font-weight: 400; 
    font-size: $default-font-size; 
    line-height: 1.7; 
    color: grey;
}

.heading-secondary {
    font-family: Georgia, Times, serif;
    font-weight: 300;
    font-size: 3rem;
    line-height: 4rem;
}

.text {
    &--emphasis {
        font-style: italic;
        font-size: 1.8rem;
    }

    &--asterix {
        text-align: right; 
    }
}


